<%-include('header')-%>

<section class="vh-100 gradient-custom bg-black">
    <div class="container py-1 h-100">
      <div
        class="row d-flex justify-content-center align-items-center w-100 h-100"
      >
        <div class="col-md-12">
          <div class="bg-primary text-white" style="border-radius: 1rem">
            <div class="mb-md-5 mt-md-4 px-5 py-5">
              <h2 class="fw-bold mb-2 text-uppercase">
                Welcome  <% if (locals.name) {%> <%= locals.name %> <% }
                else { %> <%= "User" %> <% } %>
             !! </h2>

              <div class="container-fluid my-4 w-75">
                <form class="d-flex" method="post" action="/admin/adminhome">
                  <input class="form-control me-2"  type="text" placeholder="Search" name="search" aria-label="Search" />
                 <input type="submit"  value="Search" class="btn btn-outline-info ms-2">
                </form>
              </div>

              <table class="table table-dark table-striped table-hover w-100">
                <tr class="w-100">
                  <td>Id</td>
                  <td>Name</td>
                  <td>E-mail</td>
                  <td>Mobile</td>
                  <td>Edit User</td>
                  <td>Delete User</td>
                </tr>
                <% if(locals.user) { %> <% for(let i = 0 ; i < user.length ;
                i++) { %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= user[i].name %></td>
                  <td><%= user[i].email %></td>
                  <td><%= user[i].mobile %></td>
                  <td>
                    <a href="/admin/adminhome/edituser?userid=<%= user[i]._id %>">
                      <button type="button" class="btn btn-info px-3">
                        Edit
                      </button></a>
                  </td>
                  <td>
                    <a href="/admin/adminhome/deleteuser?userid=<%= user[i]._id %>">
                      <button type="button" class="btn btn-danger px-3">
                        Delete
                      </button></a>
                  </td>
                  
                </tr>
                <% } } %>
              </table>

             
              <h2>
                <a href="/admin/adminhome/createuser"><button type="button" class="btn btn-info btn-lg px-5 me-2">Create User</button></a>
                <a href="/admin/logout"><button type="button" class="btn btn-outline-light btn-lg px-5">Logout</button></a>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%-include('footer')-%>